html {
    height: 100%;
}

body {
    background-color: #FFF !important;
    font-family: Arial, sans-serif;
    font-size: 1rem;
    margin: 0;
    min-height: 100%;
    padding: 0;
    position: relative;
    width: 100%;
}

footer, header, nav ul, .infoBox {
    background: rgba(0, 227, 151, 0.75) !important;
}

footer {
    bottom: 0;
    font-size: 0.7rem;
    height: auto;
    left: 0;
    padding-right: 0.5rem;
    position: fixed;
    text-align: right;
    width: 100%;
}

h1 {
    font-size: 2rem;
    font-weight: bold !important;
    margin-left: -14rem;
    margin-right: 14rem;
    z-index: 9999;
}

header {
    margin-left: 14rem;
    padding-top: 0.5rem;
    position: fixed;
    text-align: center;
    width: 100%;
}

.infoBox {
    border: 1px blue dotted;
    border-radius: 5px;
    margin-left: 8rem;
    position: fixed;
    right: 0.5rem;
    text-align: center;
    top: 3.5rem;
    width: 30%;
    z-index: 999;
}

main {
    padding: 6rem 1rem 1rem 15rem;
}

nav ul {
    height: 100%;
    list-style-type: none;
    margin: 0rem;
    padding: 5rem 0.5rem 1rem 0.5rem;
    position: fixed;
    width: 14rem;
}

table {
    border: 1px solid #FFF;
    border-collapse: collapse;
    border-spacing: 0px;
    empty-cells: show;
}

table thead tr th {
    width: auto !important;
}

table tr {
    border-bottom: 1px dotted #ccc !important;
}

table tr:hover {
    background: #FFFF73 !important;
}

table tr:nth-child(even) {
    background-color: #fff;
    background-size: 100%;
    background-image: linear-gradient(to bottom, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
    *zoom: 1;
}
table tr:nth-child(odd) {
    background-color: #fff;
    background-size: 100%;
    background-image: linear-gradient(to bottom, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%);
    *zoom: 1;
}

table tr th {
    border: 1px inset #FFF;
    box-shadow: none;
    color: #333;
    font-weight: bold;
}

table tr th,
table tr:hover {
    background-color: silver;
    *zoom: 1;
    background-size: 100%;
    background-image: linear-gradient(to bottom, #c0c0c0 0%, #ffffff 100%);
    text-shadow: 1px 1px 1px #FFF;
}

table tr th:hover {
    background-color: #ff0;
    *zoom: 1;
    background-size: 100%;
    background-image: linear-gradient(to bottom, #ffff00 0%, #ffffff 100%);
}

table tr td {
    padding-left: 2px;
    padding-right: 2px;
}

table tr td:hover {
    background-color: #fefcea;
    *zoom: 1;
    background-size: 100%;
    background-image: radial-gradient(ellipse cover at center, #fefcea 35%, #fefcea 35%, #ffff00 100%);
    color: #000 !important;
}

td {
    font-family: monospace !important;
    vertical-align: top !important;
}

td:hover {
    background-color: #ffcccc;
}

th, td {
    border-bottom-style: dotted;
    border-bottom-width: 1px;
}

thead tr th {
    position: sticky;
    top: 5rem;
}

tr:hover {
    background-color: #ffffcc;
}
